/* Import Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font-face declarations outside the Tailwind directives */
@font-face {
  font-family: "Gilroy";
  src: url(./fonts/gilroy/Gilroy-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url(./fonts/gilroy/Gilroy-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Mont";
  src: url(./fonts/mont/Mont-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Mont";
  src: url(./fonts/mont/Mont-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Mont";
  src: url(./fonts/mont/Mont-Regular.ttf) format("truetype");
  font-weight: 500;
}

/* Global font family setting */
* {
  font-family: "Gilroy", sans-serif;
}
